.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 20px;
}
  
mat-card {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

mat-card-content {
  margin: 20px 0;
  font-size: 17px;
}